.header {
    align-self: stretch;
}

.header h1 {
    color: #c9d1d9;
    /* This is the light gray color we're using for text in dark mode */
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 3px;
    width: 100%;
}