.header {
    align-self: stretch;
}

.header h1 {
    color: #0000FF;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 3px;
    width: 100%;
}