.footer {
    height: auto;
    width: auto;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

p {
    margin: 0;
}

.logo-softeam {
    width: 250px;
    height: 100px;
}